.error-banner {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("../assets/404.jpeg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10rem 2rem;
}

.error-text h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.error-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.error-text p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.error-text .btn {
    background-color: var(--color-themed-background);
    color: var(--color-themed-text);
    padding: 0.8rem 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.error-text .btn:hover {
    background-color: var(--color-themed-background);
    color: var(--color-themed-hover);
}
