.banner {
    background-size:     cover;
    background-position: center;
    color:               #fff;

    padding:    13rem 2rem;
    text-align: center;

    display:         flex;
    justify-content: center;
    align-items:     center;
}

.banner-text h2 {
    font-size:     2.5rem;
    margin-bottom: 0.5rem;
}

/* Visibilidade */
.banner-text p {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.banner-main {
    background-image:    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/banner-main.jpeg");
}

.banner-mid {
    background-image:    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/banner-mid.jpeg");
}

.banner-end {
    background-image:    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/banner-end.jpeg");
}

.about-section {
    padding: 5rem 8%;
    background: var(--color-bg);
    color: var(--color-text);
    text-align: center;
}

.about-section h2 {
    font-size: 2.4rem;
    color: var(--color-primary-dark);
    margin-bottom: 2rem;
}

.about-section p {
    font-size: 1.1rem;
    max-width: 900px;
    margin: 0 auto 2rem;
    line-height: 1.6;
}

.about-section ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.about-section li {
    background-color: var(--color-primary);
    color:            var(--color-themed-text);
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    text-align: left;
    flex: 1;
}

.about-section li span {
    font-weight: bold;
}

.about-section li:hover {
    transform: scale(1.05);
    background-color: var(--color-primary-dark);
    cursor: none;
}

.projects-section, .about-section {
    padding:    3rem 5%;
    text-align: center;
}

.projects-section h2, .about-section h2 {
    font-size:     2.2rem;
    color:         var(--color-primary);
    margin-bottom: 2rem;
}

.projects-grid {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
    gap:             2rem;
}

.card {
    background:    var(--color-primary);
    border:        1px solid var(--color-primary);
    border-radius: 5px;
    transition:    all 0.5s ease-in-out;
    padding:       1rem;
    
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    flex:            1;
}

.card:hover {
    transform:        scale(1.05);
    background-color: var(--color-primary-dark);
}

.card img {
    height:     200px;
    object-fit: cover;
}

.card .btn {
    background-color: var(--color-themed-background);
    color:            var(--color-themed-text);
}

.card .btn:hover {
    filter: contrast(1.2);
    color: var(--color-themed-hover);
}

.card h3 {
    font-size: 1.2rem;
    margin:    1rem;
}

.usm-card {
    background-image:    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/usm-card.jpeg");
}

.txfs-card {
    background-image:    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/txfs-card.jpeg");
}

.usm-card h3, .txfs-card h3 {
	font-size: 1.3rem;
}

.usm-card p, .txfs-card p {
    font-size:               1.2rem;
    backdrop-filter:         blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.txfs-card, .usm-card {
    flex:                1 1 auto;
    background-size:     cover;
    background-position: center;
    color:               #cdcdcd;
    cursor:              none;
}

@media (max-width: 768px) {
    .about-section li:hover, .card:hover {
        transform: none !important;
    }
}
